---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getProjectsPosts } from "../../content.functions";
import Must from "../../content/projects/must/mustlogo.png";
import PsynergyPng from "../../content/projects/psynergy/psynergy-logo.png";
import { Image } from "astro:assets";
const posts = await getProjectsPosts();
---

<!-- TODO: change title, description and create content -->
<BaseLayout title="Portfolio" description="My projects">
  <section class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    {
      posts.map((post) => {
        return (
          <article class="rounded-2xl bg-gray-700 p-4 flex-1/2 flex flex-col gap-4">
            <header class="flex flex-col gap-2">
              <a href={`/projects/${post.id}`}>
                <h2 class="text-primary font-bold text-2xl hover:underline">
                  {post.data.title}
                </h2>
              </a>
            </header>
            <main>{post.data.description}</main>
            <footer class="flex flex-row mt-auto h-8">
              {post.company === "psynergy" && (
                  <Image
                    src={PsynergyPng}
                    alt="psynergy logo"
                    height={32}
                    class="mr-2"
                  />
                  <h3 class="font-mono font-extrabold text-3xl">PSYNERGY</h3>
              )}
              {post.company === "must" && (
                <>
                  <Image
                    src={Must}
                    alt="psynergy logo"
                    height={32}
                    class="bg-white p-0.5 rounded mr-4"
                  />
                  <h3 class="font-mono font-extrabold text-2xl">
                    Must Informatique
                  </h3>
                </>
              )}
            </footer>
          </article>
        );
      })
    }
  </section>
</BaseLayout>
