---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../../../components/BaseHead.astro";
import Footer from "../../../components/Footer.astro";
import FormattedDate from "../../../components/FormattedDate.astro";
import Header from "../../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../../consts";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const tags = posts.reduce((acc, post) => {
    if (!post.data.tags) return acc;
    return [...acc, ...post.data.tags];
  }, [] as string[]);
  return tags.map((tag) => {
    return {
      params: {
        tag,
      },
      props: {
        posts: posts
          .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
          .filter((post) => post.data.tags?.includes(tag)),
        // const filteredPosts = posts.filter((post: any) =>
      },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="max-w-[800px] m-auto">
      <section>
        <h1>{tag}</h1>
        <ul class="flex flex-wrap">
          {
            posts.map((post, i) => (
              <li class="w-1/2 p-2 first:w-full">
                <a href={`/blog/${post.id}/`}>
                  {post.data.heroImage &&
                    (i === 0 ? (
                      <Image
                        width={800}
                        height={360}
                        src={post.data.heroImage}
                        alt=""
                      />
                    ) : (
                      <Image
                        width={400}
                        height={200}
                        src={post.data.heroImage}
                        layout="constrained"
                        alt=""
                      />
                    ))}
                  <h4 class="text-xl font-bold text-primary">
                    {post.data.title}
                  </h4>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
