---
import { Image } from "astro:assets";
import FormattedDate from "../components/FormattedDate.astro";
import type { CollectionEntry } from "astro:content";

type Article = CollectionEntry<"blog">;
interface Props {
  posts: Article[];
}

const { posts } = Astro.props;
---

<ul class="grid grid-cols-2 gap-4">
  {
    posts.map((post, i) => (
      <li class="md:first:col-span-2 md:col-span-1 col-span-2">
        <a href={`/blog/${post.id}/`}>
          {post.data.heroImage &&
            (i === 0 ? (
              <Image
                width={800}
                src={post.data.heroImage}
                alt=""
                class="rounded"
              />
            ) : (
              <Image
                width={400}
                src={post.data.heroImage}
                layout="constrained"
                class="rounded"
                alt=""
              />
            ))}
          <h4 class="text-3xl font-bold text-primary">{post.data.title}</h4>
        </a>
        <FormattedDate date={new Date(post.data.pubDate)} />
        <p>{post.data.description}</p>
      </li>
    ))
  }
</ul>
